// Color Pallette

$white:     #fff;
$black:		  #000;
$darkGray:  #222;
$gray:      #59595e;

$red:       red;
$purple:    purple;
$blue-dark: darkblue;
$blue: 		  blue;
$cyan:      cyan;
$green:     #12fc14;
$yellow:    yellow;
$orange: 		#fca612;

// Colors
$primary-color: $black;
$secondary-color: $gray;

$succes-color: $green;
$warning-color: $orange;
$danger-color: $red;
