// Typography
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700');

// Base Font
$font-family: 'Poppins', sans-serif;
$font-family-heading: 'Poppins', sans-serif;

$font-weight: normal;
$font-size: 1.6rem;
$line-height: normal;

$font-color: $secondary-color;

// Font Extender

%base-style {
  font: $font-weight #{$font-size}/#{$line-height} $font-family;
  color: $font-color;
}

%heading-style {
  font-family: $font-family-heading;
  font-weight: bold;
  color: $white;
}
